#fileupload {
    position: absolute;
    top: -10000px;
}

/* Gallery */
.gallery_pics {
    padding: 20px 0 0;
    position: relative;
}

.gallery_pics span.status {
    display: block;
    opacity: 0.7;
    position: absolute;
    top: 10px;
    left: 8px;
    width: 16px;
    height: 16px;
    background-image: url(../img/icons/common_icons.png);
    background-position: 0 0px;
}

.gallery_pics .hidden span.status {
    background-position: 0 -16px;
}

#item_ejector,
#item_upload_area {
    width: 1000px;
    height: 62px;
    margin: 0;
    position: absolute;
    top: -61px;
    left: 0;
    z-index: 100;
    border: 3px dashed #565656;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    opacity: 0.6;
    display: none;
    text-shadow: none;
    font-size: 18px;
    text-shadow: 0 1px 0 #fff;
}

#item_ejector span,
#item_upload_area span {
    display: block;
    height: 62px;
    width: 700px;
    padding: 15px 0 0 95px;
    margin: 0 auto;
    line-height: 1.8em;
    position: relative;
}

#item_ejector span i,
#item_upload_area span i {
    width: 30px;
    height: 30px;
    display: block;
    background: url(../img/eject.png) no-repeat center;
    background-size: 100% 100%;
    position: absolute;
    left: 45px;
    top: 50%;
    margin-top: -24px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    border: 2px solid #565656;
}

#item_ejector_helper,
#item_upload_helper {
    width: 100%;
    height: 0;
    line-height: 0;
}

.gallery_pics .item.active>span.status {
    opacity: 1;
}

.gallery_pics .item,
.gallery_pics .album_item {
    height: 120px;
    position: relative;
    width: 120px;
    cursor: pointer;
    float: left;
    padding: 4px;
    margin: 0 16px 20px 0;
    background: #F3F9FF;
    border-radius:7px;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    box-shadow:0px 0px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow:rgba(0,0,0,0.3) 0px 0px 2px;
    -moz-box-shadow:rgba(0,0,0,0.3) 0px 0px 2px;
}

.gallery_pics .item:hover,
.gallery_pics .album_item:hover,
.gallery_pics .album_item.over {
    background: #007dea url(../../resources/img/bg/box_bg_blue.png) repeat-x top;
}

.gallery_pics .item.active,
.gallery_pics .album_item:active {
    background: #007dea url(../../resources/img/bg/box_bg_blue.png) repeat-x top;
}

.gallery_pics .wobble {
    background: #f7b818 url(../../resources/img/bg/box_bg_yellow.png) repeat-x top;
}

.gallery_pics .item i.preview {
    display: block;
    height: 120px;
    width: 120px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.gallery_pics .album_item i.preview {
    display: block;
    height: 54px;
    width: 54px;
    margin: 3px;
    float: left;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    box-shadow:0px 0px 2px rgba(0,0,0,0.4);
    -webkit-box-shadow:rgba(0,0,0,0.4) 0px 0px 2px;
    -moz-box-shadow:rgba(0,0,0,0.4) 0px 0px 2px;
}

.gallery_pics .item i.loading,
.gallery_pics .album_item i.loading {
    left: 11px;
    top: 11px;
}

.gallery_pics .album_item span.counter {
    display: block;
    height: 54px;
    width: 54px;
    margin: 3px;
    float: left;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    text-shadow: 0 -1px 0 #0f4e75;
    background: #007dea url(../../resources/img/bg/box_bg_blue.png) repeat-x top;
    background-size: auto 100%;
    box-shadow:0px 0px 2px rgba(0,0,0,0.4);
    -webkit-box-shadow:rgba(0,0,0,0.4) 0px 0px 2px;
    -moz-box-shadow:rgba(0,0,0,0.4) 0px 0px 2px;
}

.gallery_pics .item .x_button,
.gallery_pics .album_item .x_button {
    position: absolute;
    top: -10px;
    right: -12px;
}

#album_name_edit {
    display: none;
    width: 100%;
    position: relative;
    font-size: 12px;
}

#album_name_edit form {
    position: absolute;
    opacity: 0;
    left: -2000px;
    top: -10px;
    width: 980px;
    border:2px solid #F3F9FF;
    background: #F3F9FF;
    border-radius:7px;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    box-shadow:0px 0px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow:rgba(0,0,0,0.3) 0px 0px 2px;
    -moz-box-shadow:rgba(0,0,0,0.3) 0px 0px 2px;
    padding: 5px 4px 0px 4px;
    height: auto;
    height: 58px;
}

#album_name_edit form input {
    width: 972px;
    margin: 3px 0 0 0;
    font-size: 18px;
    padding: 5px 3px;
}

.header {
    height: 50px;
}

#album_name_block {
    padding-top: 30px;
}