/* Structure */
.black_linen_container {
    padding: 0 0 0 3%;
    width: 87%;
}

.structure_item_content .inner_tools {
    margin: 0;
}

.structure_item_content .inner_tools .gray_button {
    padding-left: 28px;
    position: relative;
}

.structure_item_content .inner_tools .gray_button .new_window {
    position: absolute;
    top: 5px;
    left: 10px;
}

.structure .structure_left_col {
    width: 25%;
    padding: 20px 0;
    float: left;
    position: relative;
}

.structure .structure_left_col .vline {
    width: 0;
    display: block;
    border-left: 1px solid #000;
    border-right: 1px solid #333;
    position: absolute;
    top: 0;
    right: -2px;
}

.structure .structure_right_col {
    width: 69%;
    padding: 20px 3% 20px 3%;
    float: right;
    background: url(/admin/resources/img/bg/5_white.png);
}

/* Tree */
.tree_holder {
    position: relative;
    overflow-x: hidden;
    overflow-y: visible;
    padding: 10px 30px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #EEEEEE;
}

.tree_holder a:link,
.tree_holder a:visited {
    color: #000;
}

.tree_holder a:hover,
.tree_holder a:active {
    color: #000;
}

.tree_holder i#active_tree_item_marker {
    position: absolute;
    height: 2em;
    width: 113.9%;
    opacity: 0;
    left: -13.9%;
    background: #ccc;
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(1, 1, 1, 0.2);
    box-shadow: inset 0px 1px 1px 0px rgba(1, 1, 1, 0.2);
}

ul.tree ul {
    margin-left: 0;
}

ul.tree i.arrow {
    display: block;
    position: absolute;
    background: url(../img/icons/tree_arrow.png);
    left: -16px;
    top: 10px;
    opacity: 0.5;
    cursor: pointer;
}

ul.tree .arrow_hider {
    position: absolute;
    display: block;
    left: -16px;
    top: 10px;
    width: 10px;
    height: 10px;
    z-index: 2;
}

ul.tree li.active>i.arrow {
    opacity: 1;
}

ul.tree i.arrow:hover {
    opacity: 0.85;
}

ul.tree i.arrow:active {
    opacity: 1;
}

ul.tree i.arrow.opened {
    background-position: 0 0;
    width: 9px;
    height: 8px;
}

ul.tree i.arrow.closed {
    background-position: 0 -8px;
    width: 9px;
    height: 9px;
}

ul.tree li {
    position: relative;
}

ul.tree li ul.closed {
    display: none;
}

ul.tree li a {
    position: relative;
    padding: 0 21px;
    display: block;
}

ul.tree li a i.item_icon {
    top: 1px;
    left: 0;
    position: absolute;
}

ul.tree li.active>a {
    text-decoration: none;
    cursor: default;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.4);
}

ul.tree li.active {

}

ul.tree {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 2;
}

ul.tree li {
    list-style-type: none;
    padding: 5px 0;
}

ul.tree li:last-child {
    padding-bottom: 0;
}


ul.tree li ul {
    padding: 5px 0 0 1.8em;
    margin: 0;
}

ul.tree li a.published {

}

ul.tree li a.hidden {
    visibility: visible;
}

ul.tree li a.hidden:link,
ul.tree li a.hidden:visited {
    color: #999 !important;
}

ul.tree li a.hidden:hover,
ul.tree li a.hidden:active {
    color: #666 !important;
}

ul.tree li a.hidden i.item_icon {
    opacity: 0.6;
}

ul.tree li.active a.hidden {
    color: #999 !important;
}

ul.tree li.active a.published {

}

/* Form */
#blocks {
    padding: 5px 0 0 5px;
    margin: 0 0 1em;
    float: left;
}

#blocks .item {
    width: 100px;
    margin: 0 5px 5px 0;
    float: left;
    padding: 15px 5px 10px;
    height: 65px;
    cursor: pointer;
}

#blocks .item .num {
    display: block;
    text-align: center;
    font-size: 2.4em;
    margin: 0 0 0.4em;
}

#blocks .main_block .num {

}

#blocks .item .module_name {
    display: block;
    text-align: center;
    font-weight: bold;
    margin: 0 0 0.4em;
}

#blocks .item .module_mode {
    display: block;
    text-align: center;
    font-size: 0.85em;
    line-height: 1.1em;
}

.block_setup table {
    margin: 0;
}