/* Structure */
.black_linen_container {
    padding: 0 0 0 3%;
    width: 87%;
}

.structure_item_content .inner_tools {
    margin: 0;
}

.structure_item_content .inner_tools .gray_button {
    padding-left: 28px;
    position: relative;
}

.structure_item_content .inner_tools .gray_button .new_window {
    position: absolute;
    top: 5px;
    left: 10px;
}

.structure .structure_left_col {
    width: 25%;
    padding: 20px 0;
    float: left;
    position: relative;
}

.structure .structure_left_col .vline {
    width: 0;
    display: block;
    border-left: 1px solid #000;
    border-right: 1px solid #333;
    position: absolute;
    top: 0;
    right: -2px;
}

.structure .structure_right_col {
    width: 69%;
    padding: 20px 3% 20px 3%;
    float: right;
    background: url(/admin/resources/img/bg/5_white.png);
}



/* Form */
#blocks {
    padding: 3px 0 0 3px;
    border: 1px solid #ddd;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background: #fff url(/admin/resources/img/bg/pins_mini.png) 2px 2px;
}

#blocks .item {
    margin: 0 2px 3px 0;
    float: left;
    padding: 10px 5px 0;
    width: 95px;
    height: 80px;
    cursor: pointer;
    line-height: 1.7em;
    color: #444;
}

#blocks .item .num {
    display: block;
    text-align: center;
    font-size: 2.4em;
    margin: 0 0 0.4em;
}

#blocks .main_block .num {

}

#blocks .item .module_name {
    display: block;
    text-align: center;
    font-weight: bold;
    margin: 0 0 0.4em;
}

#blocks .item .module_mode {
    display: block;
    text-align: center;
    font-size: 0.85em;
    line-height: 1.1em;
}

.block_setup table {
    margin: 0;
}

#item_path_indicator .top-tool {
    left: auto;
    right: 8px;
}

#item_path_indicator .top-tool {
    font-family: monospace;
}

#item_path_indicator .top-tool * {
    font-weight: normal !important;
}

#item_path_indicator {
    float: right;
}

#tree {
    position: relative;
}

#tree ul {
    position: relative;
    z-index: 3;
}

#tree li>div {
    padding: 6px 0;
}

#tree .selected>div span {
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(38, 89, 167, 0.75);
    font-weight: bold;
}

#tree .selected>div a.toggler {
    background-position: -16px -9px;
    height: 9px;
}

#tree .selected.closed>div a.toggler {
    background-position: -16px 0;
    height: 9px;
}

#active_tree_item_marker {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 19px;
    box-shadow: 0 -1px 0 rgba(17, 46, 97, 0.03),0 1px 0 rgba(17, 46, 97, 0.15) !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4B98EA), to(#397ACD));
    background-image: -moz-linear-gradient(top, #4B98EA, #397ACD);
    background-image: -o-linear-gradient(top, #4B98EA, #397ACD);
    border-top: 1px solid #408CE6;
    border-bottom: 1px solid #2659A7;
}

#active_tree_item_marker.last {
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
}

#hover_marker {
    position: absolute;
    display: none;
    z-index: 1;
    width: 100%;
    height: 19px;
    box-shadow: 0 0 2px rgba(180, 180, 180, 1);
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#F0F2F5));
    background-image: -moz-linear-gradient(top, white, #F0F2F5);
    background-image: -o-linear-gradient(top, white, #F0F2F5);
}

#hover_marker.last {
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
}