/* Structure */
.black_linen_container {
    padding: 0 0 0 3%;
    width: 87%;
}

.structure_item_content .inner_tools {
    margin: 0;
}

.structure_item_content .inner_tools .gray_button {
    padding-left: 28px;
    position: relative;
}

.structure_item_content .inner_tools .gray_button .new_window {
    position: absolute;
    top: 5px;
    left: 10px;
}

.structure .structure_left_col {
    width: 25%;
    padding: 20px 0;
    float: left;
    position: relative;
}

.structure .structure_left_col .vline {
    width: 0;
    display: block;
    border-left: 1px solid #000;
    border-right: 1px solid #333;
    position: absolute;
    top: 0;
    right: -2px;
}

.structure .structure_right_col {
    width: 69%;
    padding: 20px 3% 20px 3%;
    float: right;
    background: url(/admin/resources/img/bg/5_white.png);
}



/* Form */
#blocks {
    padding: 0;
    margin: 0 0 1em;
    float: left;
}

#blocks .item {
    width: 88px;
    margin: 0 5px 5px 0;
    float: left;
    padding: 15px 5px 10px;
    height: 55px;
    cursor: pointer;
}

#blocks .item .num {
    display: block;
    text-align: center;
    font-size: 2.4em;
    margin: 0 0 0.4em;
}

#blocks .main_block .num {

}

#blocks .item .module_name {
    display: block;
    text-align: center;
    font-weight: bold;
    margin: 0 0 0.4em;
}

#blocks .item .module_mode {
    display: block;
    text-align: center;
    font-size: 0.85em;
    line-height: 1.1em;
}

.block_setup table {
    margin: 0;
}

#item_path_indicator .top-tool {
    left: auto;
    right: 8px;
}

#item_path_indicator .top-tool {
    font-family: monospace;
}

#item_path_indicator .top-tool * {
    font-weight: normal !important;
}