/* Animations */
.wobble {
    -webkit-animation-name: wobble1, wobble2;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-out;
}

@-webkit-keyframes wobble1 {
    0% {
        -webkit-transform:rotate(0deg);
    }
    25% {
        -webkit-transform:rotate(1.5deg);
    }
    50% {
        -webkit-transform:rotate(0deg);
    }
    75% {
        -webkit-transform:rotate(-1.5deg);
    }
    100% {
        -webkit-transform:rotate(0deg);
    }
}

@-webkit-keyframes wobble2 {
    0% {
        -webkit-transform:rotate(1.5deg);
    }
    25% {
        -webkit-transform:rotate(0deg);
    }
    50% {
        -webkit-transform:rotate(-1.5deg);
    }
    75% {
        -webkit-transform:rotate(0deg);
    }
    100% {
        -webkit-transform:rotate(1.5deg);
    }
}



.upscale {
    -webkit-animation-name: upscale;
    -webkit-animation-duration: 0.15s;
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: scale(1.015);
}

@-webkit-keyframes upscale {
    0% {
        -webkit-transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.015);
    }
}



.downscale {
    -webkit-animation-name: downscale;
    -webkit-animation-duration: 0.15s;
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: scale(1);
}

@-webkit-keyframes downscale {
    0% {
        -webkit-transform: scale(1.015);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

/*
.upscale_x2 {
    -webkit-animation-name: upscale_x2;
    -webkit-animation-duration: 0.15s;
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: scale(1.030);
}

@-webkit-keyframes upscale_x2 {
    0% {
        -webkit-transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.030);
    }
}



.downscale_x2 {
    -webkit-animation-name: downscale_x2;
    -webkit-animation-duration: 0.15s;
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: scale(1);
}

@-webkit-keyframes downscale_x2 {
    0% {
        -webkit-transform: scale(1.030);
    }
    100% {
        -webkit-transform: scale(1);
    }
}
*/


.popup_effect {
    -webkit-animation-name: popup_effect;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
}

@-webkit-keyframes popup_effect {
    0% {
        -webkit-transform:scale(0);
    }
    75% {
        -webkit-transform:scale(1.05);
    }
    100% {
        -webkit-transform:scale(1);
    }
}


.popdown_effect {
    -webkit-animation-name: popdown_effect;
    -webkit-animation-duration: 0.15s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
}

@-webkit-keyframes popdown_effect {
    0% {
        -webkit-transform:scale(1);
    }
    100% {
        -webkit-transform:scale(0);
    }
}


.up_effect {
    -webkit-animation-name: up_effect;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
}

@-webkit-keyframes up_effect {
    0% {
        -webkit-transform:scale(1);
    }
    75% {
        -webkit-transform:scale(1.03);
    }
    100% {
        -webkit-transform:scale(1);
    }
}