/* Common */
* {
	margin: 0;
	padding: 0; }

html { height: 100%; }

header,nav,section,article,aside,footer { display: block; }

body {
	font: 13px/18px Arial, Tahoma, Verdana, sans-serif;
	height: 100%; }

img { border: none; }

fieldset {
    border: none;
}

code {
    font-family: monospace !important;
    background: #eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 3px 5px;
}

p { margin: 0 0 1em; }
p:last-child { margin: 0; }

input,select { vertical-align: middle; }

.small { font-size: 0.85em; }

.overall_padding { padding: 0 4%; }

.highlight {
    background: #FC3 !important;
    border-color: transparent !important; }

/* Floats */
.left { float: left; }

.right { float: right; }

.cl, .clear { clear: both; }

/* Links */
a:link,
a:visited { color: #1e69a4; }

a:hover,
a:active { color: #e53000; }

.dashed { position: relative; }

	.dashed:link {
		color: #1e69a4;
		text-decoration: none;
		border-bottom: 1px dashed #1e69a4; }

	.dashed:visited {
		color: #1e69a4;
		text-decoration: none;
		border-bottom: 1px dashed #1e69a4; }

	.dashed:hover {
		color: #e53000;
		text-decoration: none;
		border-bottom: 1px dashed #e53000; }

	.dashed:active {
		color: #e53000;
		text-decoration: none;
		border-bottom: 1px dashed #e53000; }

.red_link:link { color: #d10000 !important; }

.red_link:visited { color: #d10000 !important; }

.red_link:hover { color: #ff6a6a !important; }

.red_link:active { color: #ff6a6a !important; }

/* Text items */
.gray_text { color: #777; }

#content h1 {
	font-size: 1.6em;
	color: #222;
	font-weight: normal;
	margin-bottom: 0.8em;
    line-height: 1.4em; }

#content h1 span.header_addition {
    background: #ddd url(../img/bg/light.png) repeat-x top;
    text-shadow: 0px 1px 0px #fff;
    padding: 0 6px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3);
}

#content h2 {
	font-size: 1.4em;
	color: #222;
	font-weight: normal;
	line-height: 1em; }

#content h3 {
	font-size: 1em;
	color: #222; }

.nowrap { white-space: nowrap; }

/* Cols */
.left_col {
	width: 75%;
	float: left; }

.right_col {
	width: 23%;
	float: right; }

/* Setting */
#wrapper {
	width: 100%;
	min-width: 950px;
	min-height: 100%;
	height: auto !important; }

#content {
	padding-bottom: 55px;
	padding-top: 15px; }

/* Footer */
#footer {
	margin: -35px 0 0;
	height: 34px;
	min-width: 950px;
	background: #777;
	color: #fff;
    font-size: 1em;
	text-shadow: 0 -1px 0 #444;
    border-top: 1px solid #666; }

    #footer a:link,
    #footer a:visited { color: #ccc; }

    #footer a:hover,
    #footer a:active { color: #9c9c9c; }

    #footer .copy { padding: 8px 0 0; }

/* Top */
.top {
	height: 32px;
    min-width: 989px;
	background: #dcdcdc url(../img/bg/light.png) repeat-x top;
	position: relative;
	color: #777;
	text-shadow: 0 1px 0 #eeeeee;
	border-bottom: 1px solid #a9a9a9; }

	.top a:link { color: #555; }

	.top a:visited { color: #555; }

	.top a:hover { color: #e53000; }

	.top a:active { color: #e53000; }

	.top a.logo {
		display: block;
		background-image: url(../img/logos/redactor.png);
		width: 122px;
		height: 32px;
		position: absolute;
		left: 4%; }

		.top a.logo:link { background-position: 0 -32px; }

		.top a.logo:visited { background-position: 0 -32px; }

		.top a.logo:hover { background-position: 0 -64px; }

		.top a.logo:active { background-position: 0 -32px; }

	.top .arrow {
		background: url(../img/frames/top_arrow.gif);
		width: 17px;
		height: 32px; }

	.top .a1 {
		left: 4%;
		margin-left: 145px;
		position: absolute; }

	.top .options {
		font-size: 1em;
		line-height: 31px;
		position: absolute;
		left: 4%;
		margin-left: 174px;
		height: 32px; }

		.top .options .site {
			font-weight: bold;
			display: block;
			float: left;
			margin-right: 6px; }

		.top .options .secure {
			background: url(../img/icons/secured.png);
			height: 9px;
			width: 9px;
			display: block;
			float: left;
			position: relative;
            cursor: help;
			top: 50%;
			margin: -5px 6px 0 0; }

		.top .options .a2 {
			float: left;
			margin-right: 13px; }

		.top .options .item {
            margin: 0 10px 0 0;
            float: left;
        }

        .top .options .item b {
            font-weight: normal;
            color: #996600; }

	.top .options_r {
		font-size: 1em;
		line-height: 31px;
		position: absolute;
		right: 4%;
		margin-left: 190px;
		height: 32px; }

		.top .options_r .item { margin: 0 0 0 35px; }

	.top a.exit {
		background: #BC0000 url(../img/icons/exit.png);
		display: inline-block;
		font-size: 0.9em;
		height: 19px;
		line-height: 20px;
		padding: 0 13px 0 0;
		text-align: right;
		text-decoration: none;
		text-shadow: 0 -1px 0 #B50700;
		width: 55px; }

		.top a.exit:link {
			background-position: 0 0;
			color: #fff; }

		.top a.exit:visited {
			background-position: 0 0;
			color: #fff; }

		.top a.exit:hover {
			background-position: 0 -19px;
			color: #fff; }

		.top a.exit:active {
			background-position: 0 -19px;
			color: #fff; }

/* Main menu */
.main_menu {
	padding: 0 4%;
	height: 105px;
	border-top: 1px solid #ededed; }

.main_menu a:link { color: #444; }
.main_menu a:visited { color: #444; }
.main_menu a:hover { color: #e53000; }
.main_menu a:active { color: #e53000; }

.main_menu_sublevel a:link { color: #444; }
.main_menu_sublevel a:visited { color: #444; }
.main_menu_sublevel a:hover { color: #e53000; }
.main_menu_sublevel a:active { color: #e53000; }

.main_menu li {
	float: left;
	list-style-type: none;
	padding: 15px 0 10px;
	width: 12%;
	text-align: center;
	line-height: 20px; }

.menu_text_active {
	background: url(../img/buttons/menu_active.png) left no-repeat;
	color: #472800;
	padding: 0 0 0 10px;
	display: inline-block;
	height: 22px;
	line-height: 22px; }

	.menu_text_active span {
		background: url(../img/buttons/menu_active.png) right no-repeat;
		padding: 0 10px 0 0;
		height: 22px;
		line-height: 22px;
		text-shadow: 0 1px 0 #ffee8e;
		display: inline-block;
		font-style: italic;
		font-weight: bold; }

.main_menu li a span.ml_sprite { cursor: pointer; }

.ml_link { display: block; }

	.ml_link .menu_text_link {
		height: 22px;
		line-height: 22px;
		display: inline-block;
		text-decoration: underline; }

.ml_sprite {
	background: url(../img/icons/menu_sprite.png) no-repeat;
	height: 48px;
	width: 48px;
	display: block;
	margin: 0 auto 7px; }

.main_menu .structure { background-position: 0 0; }

.main_menu .sections { background-position: -48px 0; }

.main_menu .config { background-position: -96px 0; }

.main_menu .users { background-position: -144px 0; }

.main_menu .main { background-position: -240px 0; }

.main_menu .templates { background-position: -336px 0; }

.menu_shade {
	border-top: 1px solid #ddd;
	height: 13px;
	background: url(../img/frames/main_menu_shadow.png) no-repeat center top;
	clear: both;
	margin: 0 4%; }

/* Main menu sublevel */
.main_menu_sublevel { height: 20px; }

	.main_menu_sublevel li {
		list-style-type: none;
		float: left;
		height: 20px;
		line-height: 20px;
		margin: 0 30px 0 0;
		background: url(../img/icons/sm_g.png) no-repeat 0 6px;
		padding: 0 0 0 15px; }

	.main_menu_sublevel .active_sml {
		background: url(../img/icons/sm_b.png) no-repeat 0 6px !important;
		color: #000; }

/* List actions List search */
.stripe_form {
	background: #eee;
	border-bottom: 1px solid #ccc;
	padding: 5px 104px 5px 5px;
	margin: 0 0 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-shadow: 0 1px 0 #ffffff;
	position: relative; }

	.stripe_form .textfield {
		display: block;
		width: 100%;
		height: 20px;
		padding: 0 22px 0 2px;
		line-height: 20px;
		font-size: 1em; }

	.stripe_form .reset {
		position: absolute;
		right: 90px;
		display: block;
		height: 16px;
		width: 16px;
		top: 50%;
		margin: -8px; }

	.stripe_form .go {
		position: absolute;
		right: 5px;
		top: 50%;
        margin-top: -9px;
		width: 68px;
		display: block;
		height: 22px;
		vertical-align: middle;
		line-height: 23px;
		padding: 0; }

.sf_top_label {
	background: #0098c4 url(../img/bg/light.png) top repeat-x;
	height: 20px;
	line-height: 20px;
	color: #fff;
	text-shadow: 0 -1px 0 #005d78;
	padding: 2px 5px;
	margin: 0;
	display: block;
	float: left;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px; }

.new_item_form {
	margin: 0 0 20px 0;
	clear: both;
	background: #0098c4 url(../img/bg/light.png) 0 -24px repeat-x;
	border-bottom: 1px solid #00799e;
	color: #fff;
	text-shadow: 0 -1px 0 #007495;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px; }

/* List menu buttons */
.list_menu_buttons {
	padding: 0 0 5px;
	text-shadow: 0 1px 0 #ffffff; }

	.list_menu_buttons .button_icon {
		position: absolute;
		top: 50%;
		margin-top: -9px;
		left: -2px;
		display: none; }

	.list_menu_buttons .multiaction_button { display: none; }

input.button {
    padding: 3px 8px;
    text-shadow: 0 1px 0 #ffffff;
    font-size: 1em; }

a.button {
	display: block;
	outline: none;
	cursor: default;
	float: left;
	height: 28px;
	line-height: 28px;
	text-decoration: none;
	background: #efefef url(../img/buttons/gray_button.png) left 0 repeat-x;
	color: #222;
	padding: 0 0 0 10px;
	margin: 0 10px 0 0; }

a.right_button {
	float: right;
	margin: 0 0 0 10px; }

a.button span {
	display: block;
	height: 28px;
	padding: 0 10px 0 0;
	margin: 0;
	position: relative;
	background: #efefef url(../img/buttons/gray_button.png) right 0 repeat-x; }

a.button:link { color: #222; }

.button:visited { color: #222; }

a.button:hover {
	color: #111;
	background-color: #e3e3e3;
	background-position: left -28px; }

	a.button:hover span { background-position: right -28px; }

a.button:active {
	color: #000;
	background-color: #e3e3e3;
	background-position: left -56px;
	line-height: 30px; }

	a.button:active span { background-position: right -56px; }

		a.button:active span .button_icon { margin-top: -8px; }

/* List table */
.list_table {
	border: 1px solid #e9e9e9;
	border-bottom: none;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-shadow: 0 1px 0 #ffffff; }

	.list_table .sort_arr_with_icon {
		float: right;
		margin: 0 0 0 16px; }

	.list_table .headerSortUp .sort_darr,
	.list_table .headerSortDown .sort_uarr { display: inline !important; }

	.list_table .sorting_anchor { display: none; }

	.list_table table th a:link,
    .list_table table th a:visited { color: #222; }

	.list_table table th a:hover,
	.list_table table th a:active { color: #e99f00; }

	.list_table table th {
		background: #dcdcdc url(../img/bg/light.png) repeat-x top;
		padding: 4px 5px 5px;
		white-space: nowrap;
		border-bottom: 1px solid #ccc; }

	.list_table table td {
		padding: 4px 5px;
		background: #fafafa;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #ccc; }

	.list_table table tr:last-child th:first-child {
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 0;
		-moz-border-radius-bottomright: 0;
		-moz-border-radius-bottomleft: 0;
		border-top-left-radius: 5px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0; }

	.list_table table tr:last-child th:last-child {
		-moz-border-radius-topleft: 0;
		-moz-border-radius-topright: 5px;
		-moz-border-radius-bottomright: 0;
		-moz-border-radius-bottomleft: 0;
		border-top-left-radius: 0;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0; }

	.list_table table tr:last-child td:first-child {
		-moz-border-radius-topleft: 0;
		-moz-border-radius-topright: 0;
		-moz-border-radius-bottomright: 0;
		-moz-border-radius-bottomleft: 5px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 5px; }

	.list_table table tr:last-child td:last-child {
		-moz-border-radius-topleft: 0;
		-moz-border-radius-topright: 0;
		-moz-border-radius-bottomright: 5px;
		-moz-border-radius-bottomleft: 0;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 0; }

    tr.norounded td {
        -moz-border-radius: 0 !important;
		border-radius: 0 !important;
        border-bottom: none;
    }

	.list_table table tr.unactive td { color: #666; }

		.list_table table tr.unactive td a:link { color: #666; }

		.list_table table tr.unactive td a:visited { color: #666; }

		.list_table table tr.unactive td a:hover { color: #e99f00; }

		.list_table table tr.unactive td a:active { color: #e99f00; }

	.list_table table tr.empty td:first-child {
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 0px;
		-moz-border-radius-bottomright: 0px;
		-moz-border-radius-bottomleft: 5px;
		-webkit-border-radius: 5px 0px 0px 5px;
		border-radius: 5px 0px 0px 5px; }

	.list_table table tr.empty td:last-child {
		-moz-border-radius-topleft: 0px;
		-moz-border-radius-topright: 5px;
		-moz-border-radius-bottomright: 5px;
		-moz-border-radius-bottomleft: 0px;
		-webkit-border-radius: 0px 5px 5px 0px;
		border-radius: 0px 5px 5px 0px; }

    .list_table tr.even_tr td { background: #eee; }
    .list_table table tr.colored_row_hover td { background: #e8e8e8; }

	.list_table .icon_action { cursor: pointer; }

	.list_table .sorting {
        position: relative;
        max-width: 30px;
        background: #ddd;
        padding: 2px 21px 2px 2px;
        -moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px; }

		.list_table .sorting input {
			width: 100%;
			text-align: center; }

	.list_table .color_list_item {
		display: block;
		border: 1px solid #777;
		border-radius: 10px;
		-moz-border-radius: 10px;
		width: 29px;
		height: 12px;
		background-image: url(../img/bg/light.png);
		background-repeat: repeat-x;
		background-position: top; }

	.list_table .switcher {
		width: 29px;
		height: 14px;
		background-image: url(../img/icons/switcher.png);
		display: block; }

	.list_table .switcher_on { background-position: 0 0; }

		.list_table .switcher_on:link, .list_table .switcher_on:visited { background-position: 0 0; }

		.list_table .switcher_on:hover, .list_table .switcher_on:active { background-position: 0 -14px; }

	.list_table .switcher_off { background-position: -29px 0; }

		.list_table .switcher_off:link, .list_table .switcher_off:visited { background-position: -29px 0; }

		.list_table .switcher_off:hover, .list_table .switcher_off:active { background-position: -29px -14px; }

	.list_table .list_image_holder {
		display: block;
		width: 30px;
		height: 30px;
		overflow: hidden;
		border: 1px solid #ddd;
		border-radius: 3px;
		padding: 1px; }

		.list_table .list_image_holder img {
			width: 100%;
			display: block; }

.upndown {
	height: 19px;
	width: 12px;
	position: absolute;
	top: 2px;
	right: 2px; }

	.upndown .icon_move_down_instance {
		background: url(../img/icons/upndown.png) 0 bottom;
		width: 12px;
		height: 9px; }

		.upndown .icon_move_down_instance:link { background-position: 0 bottom; }

		.upndown .icon_move_down_instance:visited { background-position: 0 bottom; }

		.upndown .icon_move_down_instance:hover { background-position: -12px bottom; }

		.upndown .icon_move_down_instance:active { background-position: -12px bottom; }

	.upndown .icon_move_down_instance_unactive {
		background: url(../img/icons/upndown.png) right bottom;
		width: 12px;
		height: 9px;
		cursor: default; }

	.upndown .icon_move_up_instance {
		background: url(../img/icons/upndown.png) 0 top;
		width: 12px;
		height: 9px;
		border-bottom: 1px solid #c4c4c4; }

		.upndown .icon_move_up_instance:link { background-position: 0 top; }

		.upndown .icon_move_up_instance:visited { background-position: 0 top; }

		.upndown .icon_move_up_instance:hover { background-position: -12px top; }

		.upndown .icon_move_up_instance:active { background-position: -12px top; }

	.upndown .icon_move_up_instance_unactive {
		background: url(../img/icons/upndown.png) right top;
		width: 12px;
		height: 9px;
		cursor: default; }

.list_table tr:first-child .sorting .icon_move_up_instance { cursor: default; }

	.list_table tr:first-child .sorting .icon_move_up_instance:link {
		opacity: 0.4;
		background-position: right top; }

	.list_table tr:first-child .sorting .icon_move_up_instance:visited {
		opacity: 0.4;
		background-position: right top; }

	.list_table tr:first-child .sorting .icon_move_up_instance:hover {
		opacity: 0.4;
		background-position: right top; }

	.list_table tr:first-child .sorting .icon_move_up_instance:active {
		opacity: 0.4;
		background-position: right top; }

.list_table tr:last-child .sorting .icon_move_down_instance { cursor: default; }

	.list_table tr:last-child .sorting .icon_move_down_instance:link {
		opacity: 0.4;
		background-position: right bottom; }

	.list_table tr:last-child .sorting .icon_move_down_instance:visited {
		opacity: 0.4;
		background-position: right bottom; }

	.list_table tr:last-child .sorting .icon_move_down_instance:hover {
		opacity: 0.4;
		background-position: right bottom; }

	.list_table tr:last-child .sorting .icon_move_down_instance:active {
		opacity: 0.4;
		background-position: right bottom; }

/* Pager & limiter */
.pager {
	padding: 10px 0 0;
	float: left; }

.limiter { float: right; }

.pager .notice {
	margin: 0 10px 0 0;
	padding: 0; }

.pager>span {
	display: inline-block;
	height: 22px;
	line-height: 22px;
	padding: 0 5px; }

.pager a {
	display: inline-block;
	height: 22px;
	line-height: 22px;
	padding: 0 5px; }

.pager b {
	display: inline-block;
	height: 22px;
	line-height: 22px;
	background: url(../img/buttons/menu_active.png) left no-repeat;
	color: #472800;
	padding: 0 0 0 10px; }

	.pager b>span {
		background: url(../img/buttons/menu_active.png) right no-repeat;
		padding: 0 10px 0 0;
		height: 22px;
		line-height: 22px;
		text-shadow: 0 1px 0 #ffee8e;
		display: inline-block;
		font-style: italic;
		font-weight: bold; }

.pager span.ctrl {
	color: #888;
	background: #dcdcdc url(../img/bg/light.png) repeat-x top;
	margin: 0 0 0 10px;
	font-style: italic;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-shadow: 0 1px 0 #ffffff; }

/* Forms */
.form {
	background: #eee;
	padding: 15px 0 5px;
	text-shadow: 0 1px 0 #ffffff;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ddd;
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 1));
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 1);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 1);
}

    .form .cb_left {
        float: left;
    }

    .form .cb_right {
        float: right;
    }

	.form .separator {
		height: 1px;
		font-size: 0;
		background: #ccc;
		border-bottom: 1px solid #fff;
		margin: 0 0 15px; }

		.form .separator h3 { display: none; }

	.form .cb_item_block {
		margin: 0 0 35px;
        line-height: 25px;
		padding: 4px 15px; }

	.form .item_block {
		margin: 0 0 15px;
		padding: 0 15px;
        position: relative; }

	.form .item_block_no_padding {
		margin: 0 0 15px;
		padding: 0; }

		.form .item_block_no_padding label { padding: 0 15px; }

	.form .text {
		font-size: 18px;
		width: 99%;
		padding: 2px 3px; }

	.form .select {
		font-size: 18px;
		padding: 2px 0; }

	.form .multiselect {
		font-size: 18px;
		padding: 2px 0; }

	.form label { display: inline; }

		.form label em {
			color: #777;
			font-style: normal; }

	.form .textarea { width: 100%; }

	.buttons {
        padding: 13px 14px;
        background: #ccc url(../img/bg/light.png) repeat-x top;
        border-bottom: 1px solid #f9f9f9;
        border-top: 1px solid #c2c2c2; }

		.buttons input { margin: 0 15px 0 0; }

	.form .radio_label { margin: 0 20px 0 0; }

	.form .typo {
        position: absolute;
        background: url(../img/buttons/gray_mini.png) repeat-x top left;
        color: #222;
        width: 76px;
        height: 21px;
        text-align: center;
        font-size: 0.9em;
        line-height: 21px;
        right: 14px;
        top: -4px;
        text-decoration: none;
    }

    .form .typo:hover {
        background-position: 0 -21px;
    }

    .form .typo:active {
        background-position: 0 -42px;
    }

.label { display: block; }

.form .result_message {
    display: none;
	margin: -14px 1px 10px;
	padding: 7px 14px 8px;
	color: #fff;
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px; }

	.form .result_message.ok {
		background: #1B9750 url(../img/bg/light.png) repeat-x top;
		text-shadow: 0 1px 0 #00542B; }

	.form .result_message.error {
		background: #8F0000 url(../img/bg/light.png) repeat-x top;
		text-shadow: 0 1px 0 #660000; }

    .form .result_message.loading {
		background: #8F0000 url(../img/bg/messages_loading.gif) top left;
        color: #222;
		text-shadow: 0 1px 0 #fff; }

.form fieldset {

}

.form .upload_tools {  }

.form .form_items_list_container table { width: 100%; }

.form .form_items_list_container tr td { vertical-align: top; }

.form .form_items_list_container tr.hovered td { background: #ddd; }

.form .form_items_list_container tr.active td {
	background: #ddd url(../img/bg/light.png) repeat-x top !important;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff; }

.form .file_info {
	display: none;
	padding: 10px 0; }

	.form .file_info label {
		padding: 0;
		display: block; }

	.form .file_info input.text {
		font-size: 12px;
		margin: 0 0 10px;
		width: 98%;
		padding: 2px 2px; }

	.form .file_info textarea.area {
		margin: 0 0 10px;
		width: 98%;
		padding: 2px; }

.form .gallery {  }

	.form .gallery .image {
		width: 120px;
		background: #fff;
		padding: 2px;
		float: left;
		margin: 0 15px 20px 0;
		position: relative;
		border: 1px solid #ccc;
		border-radius: 3px;
		-moz-border-radius: 3px; }

    .image.just_uploaded {
        background: #0099ff !important;
        border-color: #0099ff !important;
        opacity: 0.3;
        display: none;
    }

    .form .gallery .image .handler_grid {
        display: block;
        cursor: move;
        height: 19px;
        width: 114px;
        position: absolute;
        left: 5px;
        top: 5px;
        z-index: 3;
        background: url(../img/frames/handler_grid.png) left top;
    }

    .form .gallery .ui-sortable-placeholder {
        visibility: visible !important;
        background: #FC3;
        border-color: #FC3;
    }

		.form .gallery .image img {
			display: block;
			width: 120px;
			border-radius: 3px;
			-moz-border-radius: 3px; }

		.form .gallery .image .image_tools {
			background: url(../img/bg/60_white.png);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			text-align: center;
			display: none;
			border-radius: 3px;
			-moz-border-radius: 3px; }

	.form .gallery .hovered { border-color: #999; }

	.form .gallery .single_image {
		width: auto !important;
		min-width: 140px;
		min-height: 50px; }

		.form .gallery .single_image img {
			width: auto !important;
			max-width: 140px;
			min-width: 16px;
			margin: 0 auto; }

	.form .gallery .image_info_tab th, .form .gallery .image_info_tab td {
		text-align: left;
		padding: 2px 10px 2px 0;
		font-size: 0.92em; }

	.form .gallery .image_info_tab th {
		color: #777777;
		font-weight: normal; }

	.form .gallery .single_image_info { float: left; }

		.form .gallery .single_image_info h3 {
			font-size: 1em;
			font-weight: normal; }

		.form .gallery .single_image_info strong { margin: 0 0 0.6em; }

	.form .gallery .image .image_tools .it_buttons {
		position: absolute;
		width: 100%; }

	.form .gallery .image .image_tools a.del_button {
		padding: 0;
		margin: 0 auto;
		width: 90px;
		display: block;
		background: #bc2c2c;
		color: #fff;
		text-shadow: 0 -1px 0 #832a2a;
		font-size: 11px;
		text-decoration: none;
		border-radius: 3px;
		-moz-border-radius: 3px; }

		.form .gallery .image .image_tools a.del_button:link, .form .gallery .image .image_tools a.del_button:visited { background: #bc2c2c; }

		.form .gallery .image .image_tools a.del_button:hover, .form .gallery .image .image_tools a.del_button:active { background: #de6060; }

	.form .gallery .image .image_tools a.edit_button {
		padding: 0;
		margin: 0 auto 5px;
		width: 90px;
		display: block;
		background: #888;
		color: #fff;
		text-shadow: 0 -1px 0 #555;
		font-size: 11px;
		text-decoration: none;
		border-radius: 3px;
		-moz-border-radius: 3px; }

		.form .gallery .image .image_tools a.edit_button:link, .form .gallery .image .image_tools a.edit_button:visited { background: #888; }

		.form .gallery .image .image_tools a.edit_button:hover, .form .gallery .image .image_tools a.edit_button:active { background: #999; }

/* Slider */
.ui-slider {
	position: relative;
	text-align: left; }

	.ui-slider .ui-slider-handle {
		position: absolute;
		z-index: 2; }

	.ui-slider .ui-slider-range {
		position: absolute;
		z-index: 1;
		font-size: .7em;
		display: block;
		border: 0;
		background-position: 0 0; }

.slider_container {
	height: 4px;
	padding: 16px 0 16px;
	position: relative; }

	.slider_container .min {
		position: absolute;
		left: 0;
		top: 0;
		font-size: 11px;
		color: #555; }

	.slider_container .max {
		position: absolute;
		right: 0;
		top: 0;
		font-size: 11px;
		color: #555; }

.ui-slider-horizontal {
	height: 5px;
	background-color: #fff;
	background: #009cff;
	background: -moz-linear-gradient(left, #c40000 0%, #009cff 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#c40000), color-stop(100%,#009cff));
	background: -webkit-linear-gradient(left, #c40000 0%,#009cff 100%);
	background: -o-linear-gradient(left, #c40000 0%,#009cff 100%);
	background: -ms-linear-gradient(left, #c40000 0%,#009cff 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#c40000', endColorstr='#009cff',GradientType=1 );
	background: linear-gradient(left, #c40000 0%,#009cff 100%);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.4);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    border-bottom: 1px solid #fff; }

	.ui-slider-horizontal .ui-slider-handle {
		top: 50%;
		margin: -2px 0 0 -6px;
		background: url(../img/icons/slider_arm.png) no-repeat;
		height: 23px;
		width: 13px;
		cursor: pointer; }

	.ui-slider-horizontal .ui-slider-range {
		top: 0;
		height: 100%; }

	.ui-slider-horizontal .ui-slider-range-min { left: 0; }

	.ui-slider-horizontal .ui-slider-range-max { right: 0; }

/* Form misc */
.form .param {
	background: #ccc url(../img/bg/light.png) top repeat-x;
	border: 1px solid #cfcfcf;
	border-radius: 5px;
	-moz-border-radius: 5px;
	float: left; }

.param_tab {
	padding: 0;
	border-collapse: collapse;
	border: none; }

	.param_tab .prefix div {
		padding: 0 6px 0 8px;
		height: 26px;
		line-height: 26px; }

	.param_tab .suffix div {
		background: #ccc url(../img/bg/light.png) top repeat-x;
		padding: 0 8px 0 14px;
		height: 26px;
		line-height: 26px; }

span.date_picker {
	background: url(../img/icons/datepicker.gif);
	height: 11px;
	width: 13px;
	display: block;
	position: relative;
	top: 9px;
	left: 9px;
	opacity: 0.8; }

span.time_picker {
	background: url(../img/icons/timepicker.png);
	height: 13px;
	width: 15px;
	display: block;
	position: relative;
	top: 8px;
	left: 8px;
	opacity: 0.8; }

span.color_picker {
	background: url(../img/icons/colorpicker.gif);
	height: 11px;
	width: 13px;
	display: block;
	position: relative;
	top: 9px;
	left: 9px;
	opacity: 0.8; }

/* Extended form tools */
.form .calendar_picker_frame, .form .color_picker_frame, .form .calendar_time_picker_frame { display: none; }

.form .color_picker_input {
	width: 207px;
	float: left;
	padding-left: 14px;
	text-transform: uppercase; }

.form .color_preview {
	height: 28px;
	width: 28px;
	float: left;
	background-image: url(../img/frames/color_sample.png);
	margin: -1px 0 0 15px; }

.form .hex_color_input_prefix {
	float: left;
	width: 15px; }

	.form .hex_color_input_prefix span {
		font-size: 18px;
		display: block;
		position: absolute;
		margin: 5px 0 0 5px;
		color: #888; }

.form .calendar_date {
	width: 250px;
	float: left;
	padding-right: 14px; }

.form .calendar_time {
	width: 54px;
	float: left;
	margin: 0 0 0 20px;
	text-align: center; }

.form .timepicker_block {
	padding: 7px 0 14px;
	text-align: center; }

	.form .timepicker_block a.controller {
		position: absolute;
		display: block; }

	.form .timepicker_block .tpb_block { color: #222; }

	.form .timepicker_block .tpb_digit {
		width: 39px;
		height: 58px;
		background-image: url(../img/frames/time_digit_bg.png);
		line-height: 58px;
		font-size: 50px;
		float: left;
		margin: 0 2px;
		text-align: center; }

		.form .timepicker_block .tpb_digit.up_hovered { background-position: -39px 0; }

		.form .timepicker_block .tpb_digit.dn_hovered { background-position: -78px 0; }

	.form .timepicker_block .tpb_colon {
		width: 14px;
		height: 58px;
		line-height: 58px;
		font-size: 50px;
		float: left;
		text-align: center; }

	.form .timepicker_block .tpb_controls a {
		position: absolute;
		display: block;
		width: 86px;
		height: 29px;
		background: url(../img/frames/time_digit_glass.png) repeat-x top;
		outline: none; }

	.form .timepicker_block .tpb_controls .h-up { margin: 0 0 0 0; }

	.form .timepicker_block .tpb_controls .m-up { margin: 0 0 0 100px; }

	.form .timepicker_block .tpb_controls .h-dn { margin: 29px 0 0 0; }

	.form .timepicker_block .tpb_controls .m-dn { margin: 29px 0 0 100px; }

.form .white_holder {
	border: 1px solid #ccc;
	border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 2px;
	background: #fafafa;
	position: relative; }

.form .map {
	height: 350px;
	text-shadow: none;
	margin: 0 180px 0 0; }

.form .map_tools {
	position: absolute;
	right: 2px;
	top: 17px;
	width: 160px;
	line-height: 1.4em; }

	.form .map_tools label {
		display: block;
		margin: 0 0 10px; }

	.form .map_tools .add_marker { padding: 20px 0 0 0; }

.form .related_list td, .form .related_list th {
	padding: 2px 5px;
	text-align: left; }

.form .related_list th {
	background: #DCDCDC url(../img/bg/light.png) top repeat-x;
	border-bottom: 1px solid #ccc;
	height: 20px; }

.form .related_list label {
	display: block; }

.form .related_list .textfield { width: 99%; }

.form .related_list .textarea { width: 99%; }

.form .related_list tr.hovered td { background: #ddd; }

.form .related_list tr.selected-top td {
	background: #e8e8e8;
	border-top: 1px solid #fff; }

.form .related_list tr.selected-bottom td {
	background: #e8e8e8;
	border-bottom: 1px solid #ddd; }

.markers_list { padding: 2px 0 0 0; }

.round_button_holder {
	float: left;
	margin: -2px 0 0 12px; }

.regular_button .round_button {
	background: url(../img/buttons/round_button.png) left 0;
	display: block;
	float: left;
	color: #222;
	width: 31px;
	height: 31px; }

	.regular_button .round_button:hover {
		background-position: left -31px;
		color: #000; }

	.regular_button .round_button:active {
		background-position: left -62px;
		color: #444; }

.tb_block {
	width: 112px;
	margin: 0 auto; }

.tool_button {
	width: 76px;
	height: 21px;
	font-size: 11px;
	line-height: 19px;
	display: block;
	color: #fff;
	margin: 0 2px;
	background-position: 0 0;
	text-align: center;
	cursor: default; }

	.tool_button:link, .tool_button:visited {
		color: #fff;
		text-decoration: none; }

	.tool_button:hover, .tool_button:active {
		color: #fff;
		text-decoration: none; }

	.tool_button:hover { background-position: 0 -21px; }

	.tool_button:active { background-position: 0 -42px; }

.blue_tb {
	background-image: url(../img/buttons/blue_mini.png);
	width: 28px;
	float: left;
	text-shadow: 0 -1px 0 #21579b; }

.gray_tb {
	background-image: url(../img/buttons/gray_mini.png);
	float: left; }

	.gray_tb:link, .gray_tb:visited {
		color: #444;
		text-decoration: none; }

	.gray_tb:hover, .gray_tb:active {
		color: #222;
		text-decoration: none; }

/* Popup side frame for input options */
.d-shadow-small {
	position: absolute;
	z-index: 100;
	margin: -66px 0 0 12px; }

.d-shadow-small-wrap {
	position: relative;
	padding: 15px 21px 0 31px;
	margin: -15px -21px 0 -21px;
	overflow: hidden; }

.d-sh-small-cn {
	position: absolute;
	background: url(../img/frames/popup_side_frame.png) no-repeat;
	left: -25px;
	z-index: -1; }

.d-sh-small-tl, .d-sh-small-tr {
	height: 1000px;
	top: -28px; }

.d-sh-small-tl, .d-sh-small-bl { width: 100%; }

.d-sh-small-tr, .d-sh-small-br {
	width: 25px;
	margin-left: 100%; }

.d-sh-small-bl, .d-sh-small-br { height: 28px; }

.d-sh-small-bl {
	left: -46px;
	padding-right: 42px;
	clip: rect(auto auto auto 25px); }

.d-sh-small-br { left: -4px; }

/* Actions icons */
.icon_action {
	width: 16px;
	height: 16px;
	display: block; }

.icon_delete_instance { background: url(../img/icons/actions.png) 0 0; }

a.icon_delete_instance:link { background: url(../img/icons/actions.png) 0 0; }

a.icon_delete_instance:visited { background: url(../img/icons/actions.png) 0 0; }

a.icon_delete_instance:hover { background: url(../img/icons/actions.png) 0 -16px; }

a.icon_delete_instance:active { background: url(../img/icons/actions.png) 0 -16px; }

.icon_show_instance { background: url(../img/icons/actions.png) -16px 0; }

a.icon_show_instance:link { background: url(../img/icons/actions.png) -16px 0; }

a.icon_show_instance:visited { background: url(../img/icons/actions.png) -16px 0; }

a.icon_show_instance:hover { background: url(../img/icons/actions.png) -16px -16px; }

a.icon_show_instance:active { background: url(../img/icons/actions.png) -16px -16px; }

.icon_hide_instance { background: url(../img/icons/actions.png) -32px 0; }

a.icon_hide_instance:link { background: url(../img/icons/actions.png) -32px 0; }

a.icon_hide_instance:visited { background: url(../img/icons/actions.png) -32px 0; }

a.icon_hide_instance:hover { background: url(../img/icons/actions.png) -32px -16px; }

a.icon_hide_instance:active { background: url(../img/icons/actions.png) -32px -16px; }

.icon_add_instance { background: url(../img/icons/actions.png) -48px 0; }

a.icon_add_instance:link { background: url(../img/icons/actions.png) -48px 0; }

a.icon_add_instance:visited { background: url(../img/icons/actions.png) -48px 0; }

a.icon_add_instance:hover { background: url(../img/icons/actions.png) -48px -16px; }

a.icon_add_instance:active { background: url(../img/icons/actions.png) -48px -16px; }

.icon_reorder_instance { background: url(../img/icons/actions.png) -64px 0; }

a.icon_reorder_instance:link { background: url(../img/icons/actions.png) -64px 0; }

a.icon_reorder_instance:visited { background: url(../img/icons/actions.png) -64px 0; }

a.icon_reorder_instance:hover { background: url(../img/icons/actions.png) -64px -16px; }

a.icon_reorder_instance:active { background: url(../img/icons/actions.png) -64px -16px; }

.icon_edit_instance { background: url(../img/icons/actions.png) -80px 0; }

a.icon_edit_instance:link { background: url(../img/icons/actions.png) -80px 0; }

a.icon_edit_instance:visited { background: url(../img/icons/actions.png) -80px 0; }

a.icon_edit_instance:hover { background: url(../img/icons/actions.png) -80px -16px; }

a.icon_edit_instance:active { background: url(../img/icons/actions.png) -80px -16px; }

.icon_marker_instance { background: url(../img/icons/actions.png) -96px 0; }

a.icon_marker_instance:link { background: url(../img/icons/actions.png) -96px 0; }

a.icon_marker_instance:visited { background: url(../img/icons/actions.png) -96px 0; }

a.icon_marker_instance:hover { background: url(../img/icons/actions.png) -96px -16px; }

a.icon_marker_instance:active { background: url(../img/icons/actions.png) -96px -16px; }

.icon_file_instance { background: url(../img/icons/actions.png) -112px 0; }

a.icon_file_instance:link { background: url(../img/icons/actions.png) -112px 0; }

a.icon_file_instance:visited { background: url(../img/icons/actions.png) -112px 0; }

a.icon_file_instance:hover { background: url(../img/icons/actions.png) -112px -16px; }

a.icon_file_instance:active { background: url(../img/icons/actions.png) -112px -16px; }

.icon_dimensions_xy {
	width: 17px;
	height: 17px;
	background: url(../img/icons/dimensions.png) 0 0; }

a.icon_dimensions_xy:link { background: url(../img/icons/dimensions.png) -0 0; }

a.icon_dimensions_xy:visited { background: url(../img/icons/dimensions.png) -0 0; }

a.icon_dimensions_xy:hover { background: url(../img/icons/dimensions.png) -0 -17px; }

a.icon_dimensions_xy:active { background: url(../img/icons/dimensions.png) -0 -17px; }

.icon_dimensions_y {
	width: 17px;
	height: 17px;
	background: url(../img/icons/dimensions.png) -17px 0; }

a.icon_dimensions_y:link { background: url(../img/icons/dimensions.png) -17 0; }

a.icon_dimensions_y:visited { background: url(../img/icons/dimensions.png) -17 0; }

a.icon_dimensions_y:hover { background: url(../img/icons/dimensions.png) -17 -17px; }

a.icon_dimensions_y:active { background: url(../img/icons/dimensions.png) -17 -17px; }

.icon_dimensions_x {
	width: 17px;
	height: 17px;
	background: url(../img/icons/dimensions.png) -34px 0; }

a.icon_dimensions_x:link { background: url(../img/icons/dimensions.png) -34px 0; }

a.icon_dimensions_x:visited { background: url(../img/icons/dimensions.png) -34px 0; }

a.icon_dimensions_x:hover { background: url(../img/icons/dimensions.png) -34px -17px; }

a.icon_dimensions_x:active { background: url(../img/icons/dimensions.png) -34px -17px; }

/* Right blocks */
.right_block {
	border: 1px solid #e9e9e9;
	border-bottom-color: #ccc;
	text-shadow: 0 1px 0 #ffffff;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 0 0 20px;
    }

	.right_block h2 {
		padding: 10px 14px;
		background: #dcdcdc url(../img/bg/light.png) repeat-x top;
		font-size: 1em !important;
		font-weight: bold !important;
        border-bottom: 1px solid #ccc;
        -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 1));
        -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 1);
        box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 1);
        -webkit-border-radius: 5px 5px 0px 0px;
        border-radius: 5px 5px 0px 0px;
    }

	.right_block h3 {
        font-size: 1em;
        margin: 0;
        padding: 0;
        font-weight: normal;
        color: #777 !important; }

	.right_block .inner { padding: 10px 14px; }

    .right_block ul.rb_menu {
        list-style: none; }

    .right_block ul.rb_menu li {
        margin: 0 0 0.6em; }

    .right_block ul.rb_menu li:last-child {
        margin: 0; }

/* Sections */
.sections_list_tools { margin: 0 0 10px 0; }

.sections_list .item {
	width: 32%;
	background: #eee url(../img/bg/light.png) top repeat-x;
	border-bottom: 1px solid #ccc;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-shadow: 0 1px 0 #fff;
	position: relative; }

.sections_list .l {
	margin: 0 1% 20px 0;
	float: left; }

.sections_list .c {
	margin: 0 1% 20px;
	float: left; }

.sections_list .r {
	margin: 0 0 20px 1%;
	float: right; }

.sections_list .item .left { margin-right: 10px; }

.sections_list .item .inner { padding: 10px 10px 10px 15px; }

.sections_list .item .icon_action {
	float: left;
	margin: 0 8px 0 0; }

.sections_list .item .additional { display: none; }

.sections_list h2 { margin: 0 0 0.6em; }

.sections_list .item .colorer {
	background-image: url(../img/bg/light.png);
	position: absolute;
	top: 0;
	left: 0;
	width: 5px;
	height: 100%;
	background-repeat: repeat-x;
	background-position: top;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 5px; }

.sections_list .item .count {
	color: #777;
	text-shadow: 0 1px 0 #fff; }

.sections_list .item a:link { color: #222; }

.sections_list .item a:visited { color: #222; }

.sections_list .item a:hover { color: #e99f00; }

.sections_list .item a:active { color: #e99f00; }

/* Form tools */
.toolbox {
	padding: 0;
	margin: 0; }

	.toolbox li {
		list-style-type: none;
		cursor: move;
		padding: 0 15px;
		height: 26px;
		line-height: 26px;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #eee;
		background: #fafafa url(../img/frames/draggable_marker.gif) no-repeat 4px 4px; }

		.toolbox li:last-child {
			-moz-border-radius-topleft: 0;
			-moz-border-radius-topright: 0;
			-moz-border-radius-bottomright: 5px;
			-moz-border-radius-bottomleft: 5px;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px; }

	.toolbox .tool_hovered {
		background: #eee url(../img/frames/draggable_marker.gif) no-repeat 4px 4px;
		border-top: 1px solid #fafafa;
		border-bottom: 1px solid #ddd; }

.ui-draggable-dragging { border-radius: 0 !important; }

/* Form editor */
.form_editor_items {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #fafafa;
	margin: 0 0 15px; }

	.form_editor_items li {
		min-height: 26px;
		list-style-type: none;
		padding: 0 15px;
		cursor: move;
		border-top: 1px solid #fafafa;
		border-bottom: 1px solid #ddd;
		line-height: 27px;
		position: relative;
        background: #eee url(../img/frames/draggable_marker.gif) no-repeat 4px 4px; }

    .form_editor_items li.highlight { padding: 1px 0 0 0; }

	.form_editor_items .expand_collapse {
		height: 16px;
		width: 16px;
		position: absolute;
		right: 38px;
		top: 6px; }

	.form_editor_items .icon_action {
		position: absolute;
		right: 14px;
		top: 6px; }

	.form_editor_items .expand { background-image: url(../img/icons/expand_collapse.png); }

		.form_editor_items .expand:link, .form_editor_items .expand:visited { background-position: 0 0; }

		.form_editor_items .expand:hover, .form_editor_items .expand:active { background-position: 0 -16px; }

	.form_editor_items .collapse { background-image: url(../img/icons/expand_collapse.png); }

		.form_editor_items .collapse:link, .form_editor_items .collapse:visited { background-position: -16px 0; }

		.form_editor_items .collapse:hover, .form_editor_items .collapse:active { background-position: -16px -16px; }

	.form_editor_items li.expanded_item {
		background: #ddd;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #ccc; }

		.form_editor_items li.expanded_item fieldset { border: none; }

	.form_editor_items li .tool_loading {
		position: absolute;
		right: 13px;
		top: 4px;
		background: url(../img/icons/tl.gif);
		width: 16px;
		height: 16px; }

	.form_editor_items li.hovered .tool_loading { background: url(../img/icons/tl_hover.gif); }

	.form_editor_items li.hovered {
		background: #ddd url(../img/frames/draggable_marker.gif) no-repeat 4px 4px;;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #ccc; }

.sql_preview_code {
	display: block;
	height: 340px;
	overflow: auto;
	padding: 3px;
	border: 1px solid #ddd;
    font-family: monospace !important; }

.collapsable_fieldlist_item_tools { display: none; }

	.collapsable_fieldlist_item_tools fieldset {
		border: none;
		margin: 0;
		padding: 15px 0 0; }

		.collapsable_fieldlist_item_tools fieldset label span { display: block; }

		.collapsable_fieldlist_item_tools fieldset .col { padding: 0 20px 0 0; }

		.collapsable_fieldlist_item_tools fieldset textarea {
			width: 99%;
			color: #222; }

		.collapsable_fieldlist_item_tools fieldset .item_margin { margin: 0 0 10px; }

	.collapsable_fieldlist_item_tools .item_label { display: block; }

	.collapsable_fieldlist_item_tools .item_tools_table { width: 100%; }

		.collapsable_fieldlist_item_tools .item_tools_table tr td { padding: 0 0 10px 22px; }

			.collapsable_fieldlist_item_tools .item_tools_table tr td.label_col {
				width: 150px;
				vertical-align: top;
				color: #333;
				background: url(../img/icons/bullet_gray_inverse.png) no-repeat 5px 11px;
				height: 33px; }

			.collapsable_fieldlist_item_tools .item_tools_table tr td.content_col { vertical-align: top; }

		.collapsable_fieldlist_item_tools .item_tools_table .custom_option_item {
			line-height: 19px;
			height: 19px;
			border: 1px solid #ccc;
			float: left;
			position: relative;
			background: #e0e0e0 url(../img/bg/light.png) top repeat-x;
			-moz-border-radius: 10px;
			border-radius: 10px;
			margin: 0 2px 2px 0;
			padding: 0 22px 1px 5px; }

			.collapsable_fieldlist_item_tools .item_tools_table .custom_option_item .delete_instance_gray { margin-left: 7px; }

		.collapsable_fieldlist_item_tools .item_tools_table .radio_label { margin: 0 15px 0 0; }

.custom_option_item .icon_action {
	float: none;
	position: absolute;
	right: 2px;
	top: 50%;
	margin: -8px 0 0; }

.collapsable_fieldlist_item_tools fieldset .textfield {
	width: 99%;
	font-size: 1em;
	color: #222;
	padding: 2px; }

.collapsable_fieldlist_item_tools fieldset .select {
	max-width: 100%;
	font-size: 1em;
	color: #222;
	padding: 0; }

.collapsable_fieldlist_item_tools .item_tools_table tr td.label_col em {
	color: #777;
	font-style: normal; }

.collapsable_fieldlist_item_tools .item_tools_table em.option_count {
	color: #777;
	font-style: normal; }

.collapsable_fieldlist_item_tools .item_tools_table .add_instance_input {
	padding: 0 2px;
	font-size: 1em; }

.images_copies_table table { width: 100%; }

.images_copies_table .icon_action {  }

.images_copies_table .icon_dimensions_xy {  }

.images_copies_table th {
	line-height: 27px;
	font-size: 0.92em; }

.images_copies_table td {
	line-height: normal;
	vertical-align: top; }

	.images_copies_table td .icon_action { position: static !important; }

.images_copies_table th, .images_copies_table td {
	text-align: left;
	padding: 0 10px 5px 0 !important; }

.images_copies_table th { padding: 0 10px 0 0 !important; }

.images_copies_table td { padding: 0 10px 5px 0 !important; }

.images_copies_table th:last-child, .images_copies_table td:last-child { padding: 0 !important; }

.images_copies_table input {
	width: 99%;
	font-size: 1em !important; }

/* Tools icons */
img.form_tools_icons {
	height: 16px;
	width: 16px;
	background: url(../img/icons/tools.png);
	margin: 0 2px -4px 0; }

img.form_tools_icons_text_area { background-position: 0 0; }

img.form_tools_icons_splitter { background-position: -16px 0; }

img.form_tools_icons_checkbox { background-position: -32px 0; }

img.form_tools_icons_textfield { background-position: -48px 0; }

img.form_tools_icons_select { background-position: -64px 0; }

img.form_tools_icons_switch { background-position: -80px 0; }

img.form_tools_icons_trash { background-position: -96px 0; }

img.form_tools_icons_textfield_email { background-position: -112px 0; }

img.form_tools_icons_textfield_url { background-position: -128px 0; }

img.form_tools_icons_color_picker { background-position: -144px 0; }

img.form_tools_icons_calendar { background-position: -160px 0; }

img.form_tools_icons_gallery { background-position: -176px 0; }

img.form_tools_icons_image { background-position: -192px 0; }

img.form_tools_icons_file { background-position: -208px 0; }

img.form_tools_icons_multifile { background-position: -224px 0; }

img.form_tools_icons_param { background-position: -240px 0; }

img.form_tools_icons_multiselect { background-position: -256px 0; }

img.form_tools_icons_map { background-position: -272px 0; }

img.form_tools_icons_tags { background-position: -288px 0; }

img.form_tools_icons_slider { background-position: -304px 0; }

img.form_tools_icons_url { background-position: -320px 0; }

img.form_tools_icons_catalog { background-position: -336px 0; }

/* Tree */
.tree_table {  }

.tree_table .icon_hide_instance,
.tree_table .icon_show_instance { display: none; }

ul#tag_tree li {
    /*background: url(../img/frames/tree_line.gif) repeat-y left top;*/
}

.tt_list {
	padding: 0;
	font-size: 12px; }

	.tt_list li {
		list-style-type: none;
		cursor: move;
		margin: 0 0 5px; }

	.tt_list ul { padding: 5px 0 0 26px; }

	.tt_list li.root { cursor: default !important; }

	.tt_list .hided {  }

		.tt_list .hided>div.item_container a:link, .tt_list .hided>div.item_container a:visited { color: #777; }

		.tt_list .hided>div.item_container a:hover, .tt_list .hided>div.item_container a:active { color: #F60; }

.item_container {
	padding: 0 5px;
	height: 25px;
	line-height: 25px;
	display: block;
    border-bottom: 1px solid transparent;}

.item_container_inner {
	height: 25px;
	line-height: 25px;
	display: block;
	position: relative; }

	.item_container_inner .item_full_path {
		font-size: 11px;
		display: none;
		margin: 0 0 0 35px; }

#item_tools {
	display: block;
	height: 25px;
	position: absolute;
	right: 0;
	top: 0; }

	#item_tools #publishItem, #item_tools #hideItem {  }

#tools_container { display: none; }

#item_tools .icon_action {
	float: left;
	margin: 0 5px; }

.tools_inner {
	height: 25px;
	padding: 4px 6px 0 10px;
	height: 21px; }

	.tools_inner .form_tools_icons { margin: 0 3px !important; }

	.tools_inner .ti_icon { margin-left: 9px; }

	.tools_inner .down_instance, .tools_inner .down_instance_unactive {  }

	.tools_inner .show_instance, .tools_inner .hide_instance {  }

	.tools_inner .up_instance, .tools_inner .up_instance_unactive {  }

	.tools_inner .delete_instance { margin-left: 24px; }

.root .tools_inner .add_instance { margin: 0 0 0 7px; }

.tools_inner .upndown {
	height: 19px;
	width: 12px;
	position: static !important;
	float: left;
	margin: -1px 10px 0 0; }

.tree_table .ui-draggable-dragging { z-index: 100; }

	.tree_table .ui-draggable-dragging div.item_container {
		background: #eee;
		padding: 0 0 0 5px;
		-moz-border-radius: 5px;
		border-radius: 5px; }

		.tree_table .ui-draggable-dragging div.item_container .item_container_inner { padding: 0 0 0 0; }

.tree_table .path {
    background: #ddd url(../img/bg/light.png) repeat-x top;
    padding: 2px 6px;
    margin: 0 0 0 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px 1px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
    font-family: monospace;
    text-decoration: none;
    color: #222; }

.tree_table .hided .path {
    color: #757575;
    background-color: #eee; }

.tree_table span.path { display: none; }

.tree_hover {
	background: #FC3;
	padding: 0 0 0 5px;
    border-color: #d7ac28;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px 1px 0px #ffebb0; }

	.tree_hover .item_container_inner {
		background: #FC3;
		padding: 0 0 0 0;
		-moz-border-radius: 5px;
		border-radius: 5px; }

.item_container_hovered {
	background: #eee;
	padding: 0 0 0 5px;
    background: #f4f4f4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-bottom: 1px solid #ddd; }

	.item_container_hovered .item_container_inner { text-shadow: 0px 1px 0px #ffffff; }

	.item_container_hovered .item_container_tools { display: block; }

    .tree_table .item_container_hovered .path {
        color: #fff;
        background-color: #006ac3;
        text-shadow: 0px -1px 0px #0059a5;
        -webkit-box-shadow: 0px 1px 0px 0px #185b94;
        -moz-box-shadow: 0px 1px 0px 0px #185b94;
        box-shadow: 0px 1px 0px 0px #185b94;
        cursor: pointer; }

    .tree_table .hided .item_container_hovered .path {
        color: #757575;
        background-color: #eee;
        text-shadow: 0px 1px 0px #f7f7f7;
        -webkit-box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
        box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
        cursor: default; }

    .tree_table .hided span.path { display: inline; }
    .tree_table .hided a.path { display: none; }

/* Errors */
.validate_error {
	position: absolute;
    z-index: 2;
	margin: -3px 0 0 -8px;
	background: url(../img/bg/light.png) top repeat-x;
	color: #fff;
	width: 180px;
	text-shadow: 0px -1px 0px #820000;
	opacity: 0.75;
	cursor: pointer; }

	.validate_error .ve_top {
		background: url(../img/frames/error.png) top left;
		padding: 12px 10px 4px;
		display: block; }

	.validate_error .ve_bottom {
		background: url(../img/frames/error.png) top right;
		height: 19px;
		display: block; }

/* Window */
#fs_overlay {
	background: #000;
	opacity: 0.5;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1999; }

.window {
	background: #fff;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 2000;
    -webkit-box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.6); }

	.window h1 {
		font-size: 20px;
		padding: 10px 35px 10px 15px;
		background: #dcdcdc url(../img/bg/light.png) top repeat-x;
		text-shadow: 0px 1px 0px #ffffff;
		margin: 0 0 15px;
        line-height: 1.2em;
        position: relative;
        font-weight: normal;
        border-bottom: 1px solid #ccc;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-webkit-border-bottom-right-radius: 0px;
		-webkit-border-bottom-left-radius: 0px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
		-moz-border-radius-bottomright: 0px;
		-moz-border-radius-bottomleft: 0px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px; }

    .window .message {
        display: none;
        padding: 5px 15px;
        color: #fff;
        margin: -15px 0 15px;
        cursor: pointer;
    }

    .window .message.ok {
		background: #1B9750;
		text-shadow: 0 1px 0 #00542B; }

	.window .message.error {
		background: #8F0000;
		text-shadow: 0 1px 0 #660000; }

    .window.loading h1 {
        background: #dcdcdc url(../img/bg/messages_loading.gif) top;
    }

	.window .window_content { padding: 0 15px 15px; }


#modal_closer {
	background: url(../img/icons/close.png);
	height: 20px;
	width: 20px;
	position: absolute;
	right: 15px;
    z-index: 3;
	top: 13px; }

.window.loading #modal_closer {
    display: none;
}

/* Window images editor */
.ie_container .ie_image {
	float: left;
	margin: 0 0 0 20px;
	width: 220px; }

	.ie_container .thumb {
		border: 1px solid #ccc;
		padding: 2px;
		border-radius: 3px;
		-moz-border-radius: 3px;
        width: 120px;
        float: left;
        margin: 0 15px 0 0; }

	.ie_container .thumb img {
		border-radius: 3px;
		-moz-border-radius: 3px;
		width: 120px;
		display: block; }

.ie_container .ie_info {
	float: left;
	width: 230px; }

    .ie_container .form_content {
        padding: 20px 0 0 0;
    }

	.ie_container strong {
		display: block;
		margin: 0 0 0.3em; }

	.ie_container table { margin: 0 0 15px; }

		.ie_container table th,
        .ie_container table td {
			font-size: 0.92em;
			font-weight: normal;
			text-align: left; }

		.ie_container table th {
			padding: 2px 10px 2px 0;
			color: #777; }

	.ie_container label {
		display: block;
		margin: 0 0 10px 0; }

	.ie_container .text {
		width: 98%;
        padding: 2px;
		display: block; }

	.ie_container .area {
		width: 99%;
		display: block; }

/* Browser */
.browser_frame {

}

.browser_frame .browser_path {
    margin: 0;
    list-style: none;
}

.browser_frame .browser_path li {
    float: left;
}

.browser_frame .browser_path li a {
    padding: 4px 8px;
    display: block;
    background: #ddd url(../img/bg/light.png) top repeat-x;
    color: #222;
}

.browser_frame .browser_path li a:hover {
    color: #fff;
    background-color: #999;
    text-shadow: 0 -1px 0 #555;
}

.config_table .text_input {
    padding: 2px 2px;
    width: 98%;
}

.config_table tr:last-child td {
    border-bottom: none;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

.config_table .buttons {
    padding: 5px;
}

.config_table .form_end {
    background: #eee;
    height: 5px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
	border-bottom: 1px solid #ccc;
}

.form .add_param_button {
    position: absolute;
    background: url(../img/buttons/gray_mini.png) repeat-x top left;
    color: #222;
    width: 76px;
    height: 21px;
    text-align: center;
    font-size: 0.9em;
    line-height: 21px;
    right: 14px;
    top: -4px;
    text-decoration: none;
}

.form .add_param_button:hover {
    background-position: 0 -21px;
}

.form .add_param_button:active {
    background-position: 0 -42px;
}